<!DOCTYPE html>
<html>
  <head>
    <title>List of Movies</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <style>
  h1 {text-align: center;}
  table, td, th {border: 1px solid black;}
  table {border-collapse: collapse;table-layout: fixed;width: 100%;}
  th {color: green;}
  th, td {
    padding: 15px;
    text-align: left;
    margin-right: -1px;
  }
  </style>

  <body>
    <h1> Movies </h1>

    <%@movies.each do |movie|%>
    <table class="w3-table w3-striped w3-bordered">
    <tr>
    <th>Movie Title</th>
    <th>Movie Year</th>
    <th>Movie Rating</th>
    <th>Genre</th>
    <th>Studio</th>
    </tr>
      <tr>
        <td><a href='/movies/<%= movie["id"] %>'><font color="blue"><%= movie["title"]%></font></a></td>
        <td><%= movie["year"]%></td>
        <td><%= movie["rating"]%></td>
        <td><%= movie["genres"]%></td>
        <td><%= movie["studio"]%></td>
      </tr>
    </table>
    <%end%>

</body>
</html>
